*{
    padding: 0;
    margin: 0;
}


#para{
    /* font-family: serif; */
    font-family: "Edu NSW ACT Cursive", cursive;
    font-size: 18px;
    font-weight: 600;
    /* text-align: center; */
    /* Default : start */
    /* text-align: start; */
    /* text-align: end; */
    /* line-height: 100px; */
    /* text-decoration: underline; */
    text-decoration: line-through;
}

.anchor-text{
    text-decoration: none;
}

.line-prop{
    border: 1px solid black;
    height: 200px;
    width: 100%;
    /* line-height: 200px; */
    /* text-align: center; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

#para1{
    /* font-style: italic; */
    /* font-style: normal; */
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
    text-indent: 200px;
    color: red;
}

.menu{
    border: 1px solid black;
    /* margin: 100px; */
    padding: 100px;
    /* list-style: none; */
    /* list-style: circle; */
}
